# Ignoruj nowe środowisko wirtualne Pythona
.venv/
venv/
bin/
lib/
lib64/
include/
share/
pyvenv.cfg

# Pliki lokalne i konfiguracyjne IDE
.vscode/
.idea/
*.pyc
__pycache__/

# vault notatki
obsidian_vault